package ${package.Entity.replace("entity","dao")};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Repository;

/**
 * <p>
 * $!{table.comment} Dao
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Repository
public class ${table.entityName}Dao extends ${superServiceImplClass}<${table.mapperName}, ${entity}> {
}
